*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    color: var(--soft-white);
}
html{
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
}
:root{
    --soft-white: #fafafa;
    --gray: #808080;
    --black: #000;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.background{
    background: url("../img/mobile/image-hero.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: none;
}
.logo-img{
    width: 15rem;
    height: auto;
}
.logo-container{
    z-index: 1;
}
header{
    width: 100%;
    height: 10%;
    max-height: 80px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    padding-top: 2rem;
}

.menu-container{
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    background: var(--black);
    margin-left: -40rem;
    transition: 0.4s ease all;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 2rem;
}
.menu-list{
    display: flex;
    flex-direction: column;
    max-height: 400px;

}
.list-item{
    
    margin-top: 2.5rem;
    font-size: 2.5rem;
}
.link-item{
    position: relative;
}

.link-item::after{
    position: absolute;
    content: "";
    background: var(--soft-white);
    width: 0;
    height: 0.2rem;
    bottom: -0.2rem;
    left: 0;
    transition: 0.3s ease all;
}

.link-item:hover::after{
    width: 100%;
}
.burguer-icon{
    z-index: 1;
    background: url("../img/icon-hamburger.svg");
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.burguer-icon.open{
    background: url("../img/icon-close.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.menu-container.open{
    margin-left: 0;
}
.top-eslogan-section{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.eslogan-container{
    border: 2px solid var(--soft-white);
    text-align: start;
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
}
.eslogan{
    font-size: 4rem;
}
